<footer class="hero is-small is-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="b-t m-t-30 p-t-30 has-text-grey-light is-size-7">
        Apple Forecast 2024 &copy; Kadeem Pardue
      </div>
    </div>
  </div>
</footer>