<section class="<%= 'hero' if action_name == 'index' && controller_name == 'forecasts' %> is-light" >
  <div class="hero-head">
    <nav class="navbar is-transparent is-spaced" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <%= image_tag 'af_frontend/logo.png', alt: I18n.t('app_name'), width: 80, height: 80 %>
          </a>
          <% if @cache_hit %>
            <div id="cache_hit">
              <%= render 'af_frontend/nav/cache_hit' %>
            </div>
          <% end %>
          </div>
        </div>

    </div>
  </nav>
  </div>
  <%= yield :hero if content_for?(:hero) %>
</section>