<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child" style="text-align:center">
      <p class="subtitle" style="font-weight: 600">5 Day Forecast</p>
    </article>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box" id="day1" style="text-align:center"><div style="font-weight:600">Monday</div><div>09/09/2024</div><img src="https://openweathermap.org/img/wn/01d@2x.png"><div>86°</div><div>31% Humidity</div></article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box" id="day2" style="text-align:center"><div style="font-weight:600">Tuesday</div><div>09/10/2024</div><img src="https://openweathermap.org/img/wn/01d@2x.png"><div>87°</div><div>26% Humidity</div></article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box" id="day3" style="text-align:center"><div style="font-weight:600">Wednesday</div><div>09/11/2024</div><img src="https://openweathermap.org/img/wn/04d@2x.png"><div>82°</div><div>30% Humidity</div></article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box" id="day4" style="text-align:center"><div style="font-weight:600">Thursday</div><div>09/12/2024</div><img src="https://openweathermap.org/img/wn/04d@2x.png"><div>70°</div><div>70% Humidity</div></article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box" id="day5" style="text-align:center"><div style="font-weight:600">Friday</div><div>09/13/2024</div><img src="https://openweathermap.org/img/wn/10d@2x.png"><div>67°</div><div>95% Humidity</div></article>
  </div>
</div>
</section>